/* Add CSS Styling */

.odd {
    background-color: rgb(240, 195, 203);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#n2{
    color: blue;
    font-size: 36px;
}

.odd.adjust {
    font-size: 24px;
}

#con{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}